$layout-header-bg: (
  main: $white
);

$layout-header-color: (
  main: $black3
);

$layout-ant-menu-item-selected-color: (
  main: $blue1
);

$layout-ant-menu-item-selected-border-color: (
  main: $blue1
);

$layout-sider-menu-bg: (
  main: $black4
);

$layout-sider-menu-color: (
  main: $white
);

$layout-sider-ant-menu-item-selected-bg: (
  main: $blue3
);

$layout-content-color: (
  main: $gray3
);