<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>react</title>
  <% if (process.env.NODE_ENV === "production") { %>
  <link rel="stylesheet" href="/static/dll/<%= htmlWebpackPlugin.options.paths.vendor.css %>">
  <link rel="stylesheet" href="/static/dll/<%= htmlWebpackPlugin.options.paths.antd.css %>">
  <% } %>
</head>
<body>
  <div id="app"></div>
  <script src="/static/dll/<%= htmlWebpackPlugin.options.paths.vendor.js %>"></script>
  <script src="/static/dll/<%= htmlWebpackPlugin.options.paths.react %>"></script>
  <script src="/static/dll/<%= htmlWebpackPlugin.options.paths.antd.js %>"></script>
</body>
</html>