.ant-layout.#{$layout-prefix}-layout {
  height: 100%;
  $header-bg: '$layout-prefix-layout-header-bg';
  $header-color: "${layout-prefix}-layout-header-color";
  $ant-menu-item-selected-color: "${layout-prefix}-layout-ant-menu-item-selected-color";
  $ant-menu-item-selected-border-color: "${layout-prefix}-layout-ant-menu-item-selected-border-color";
  $sider-menu-bg: "${layout-prefix}-layout-sider-menu-bg";
  $sider-menu-color: "${layout-prefix}-layout-sider-menu-color";
  $sider-ant-menu-item-selected-bg: "${layout-prefix}-layout-sider-ant-menu-item-selected-bg";
  $content-color: "${layout-prefix}-layout-content-color";
  $headerHeight: 64px;

  .header {
    height: $headerHeight;
    line-height: $headerHeight;
    padding: 0 25px 0 0;
    background: $header-bg;
    color: $header-color;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    z-index: 100;

    .company-info {
      float: left;
      margin-right: 50px;
    }

    .avator {
      display:  flex;
      align-items: center;
      width: 257px;
      height: $headerHeight;
      padding-left: 32px;
      line-height: $headerHeight;

      svg {
        font-size: 40px;
      }
    }

    .ant-menu {
      float: left;
      line-height: $headerHeight;
      font-size: 16px;
    }

    .ant-menu-item-selected {
      line-height: 57px;
      border-bottom: 3px solid $ant-menu-item-selected-border-color;
      background: none;
      color: $ant-menu-item-selected-color;
    }
  }

  .global-refresh-icon {
    float: left;
    line-height: $headerHeight;
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
    @include cursor(blue);
  }

  .right-actions {
    display: flex;
    align-items: center;
    height: $headerHeight;
    float: left;
    margin-left: 20px;
    .action {
      display: flex;
      align-items: center;
      margin-left: 64px;
      @include cursor(blue);
    }

    .action:first-child {
      margin-left: 0;
    }

    i {
      margin-right: 14px;
      font-size: 20px;
    }
  }

  .content-layout {
    flex: 1;
    overflow: auto;
  }

  .sider {
    width: 257px!important;
    max-width: 257px!important;
    min-width: 257px!important;
    overflow: auto;

    .ant-menu {
      padding-top: 40px;
      background: $sider-menu-bg;
      color: $sider-menu-color;
    }

    .ant-menu-item-selected {
      background: $sider-ant-menu-item-selected-bg;
    }

    .ant-menu-item {
      height: 48px;
      line-height: 48px;
      padding: 0 32px!important;
      margin: 0;
    }
  }

  .sider-menu {
    height: 100%;
  }

  .content {
    background: $content-color;
    padding: 24px;
    margin: 0;
  }
}