$white: #fff;

$gray1: #f5f7f9;
$gray2: #d9d9d9;
$gray3: #F0F2F5;

$black1: #2e2d2d;
$black2: #3d3d3d;
$black3: #3D3E43;
$black4: #2E333B;

$blue1: #1890ff;
$blue2: #e6f7ff;
$blue3: #3983E9;

$primary: #3983E9;
$warning: #FBB600;
$success: #14C228;
$error: #D03138;
$info: #FBB600;