// main
$main-layout-header-bg: $white;
$main-layout-header-color: $black3;
$main-layout-ant-menu-item-selected-color: $blue1;
$main-layout-ant-menu-item-selected-border-color: $blue1;
$main-layout-sider-menu-bg: $black4;
$main-layout-sider-menu-color: $white;
$main-layout-sider-ant-menu-item-selected-bg: $blue3;
$main-layout-content-color: $gray3;